<h1 mat-dialog-title>{{ data.name }}</h1>
<div mat-dialog-content>
  <div>
    <span>Date of begining: {{ data.startDate }}</span>
  </div>
  <div>
    <span>Date of begining: {{ data.startTime }}</span>
  </div>
  <div>
    <span>Finished date: {{ data.finishDate }}</span>
  </div>
  <div>
    <span>Finished time: {{ data.finishTime }}</span>
  </div>
  <div>
    <span>
      Description:
      {{ data.description }}
    </span>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-dialog-close mat-button>Ok</button>
</div>
